/* Importa una fuente de Google Fonts, por ejemplo 'Roboto' */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Aplica la fuente a todo el proyecto */
body {
    font-family: 'DM Serif', serif;
    background-color: #2B2B2B;
    color: white;
}

h1{
    font-style: italic;
}

